button {
    outline: none;
    border: none;
    color: white;
    background: #5c6bc0;
    text-transform: uppercase;
    margin: 0 auto;
    position: relative;
    display: block;
    font-size: 20px;
    padding: 30px 90px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 6px #303F9f;
    
}

button:hover {
    box-shadow: 0 3px #303F9f;
    top: 2px;
}

button:active {
    box-shadow: none;
    top: 6px;

}