<h1>Weather today in Sain Francisco</h1>
<h3>Humidity:<%= data.consolodated_weather[0].humidity%></h3>
<h3>High Temp:<%= data.consolodated_weather[0].high_temp%></h3>
<h3>Low Temp:<%= data.consolodated_weather[0].min_temp%></h3>
<h3>Forcast:<%= data.consolodated_weather[0].weather_state_name%></h3>