<%- include('partials/header.ejs', {title: 'Home Page'}) %>
<%- include('partials/navbar.ejs') %>

<h1>Home page</h1>
<div class="btn btn-success"></div>
<ul class='dog'>
    <% data.forEach(function(el){ %>
        <%#console.log(data) %>
        <li><%= el %></li>
    <% }) %>
</ul>

<%- include('partials/footer.ejs') %>