<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='styles.css'>
  <title>Random Dog Image</title>
</head>
<body>
  <form class='container' action="/getImage">
    <input type='submit' id='btn' value='click for new dog'>
    <h1> dog pic machine </h1>
    <img src='<%= image %>' alt='dog' id='pic'>
    <br>
  </form>
  
</body>
</html>